/*-----------------------------Animations---------------------------*/

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(300px);
  }
  to {
    transform: translateX(0);
  }
}


@keyframes slideFadeIn {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0);
  }
}

.fade-in-item {
  animation: fadeIn;
  animation-duration: 3s;
}

.slide-in-left {
  animation: slideInLeft;
  animation-duration: 1s;
}

.slide-in-right {
  animation: slideInRight;
  animation-duration: 1s;
}

h2 {
  animation: slideFadeIn ease;
  animation-timeline: view();
}

.slide-in {
  animation: slideFadeIn ease;
  animation-timeline: view();
  animation-duration: 2s;
}

/*--------------------------------------------------------------------------------------------------*/


.dm-sans {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }


body {
  margin: 0;
  padding: 0; 
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(#000000, #121212);
}  

nav {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: white;
  padding: 5px 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content:flex-end;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 13px;
    padding: 10px 30px;
}

nav ul li a:hover {
    color: gray;
    transition: color 0.3s ease;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  height: 90vh;
  box-sizing: border-box;
}

.hero-content {
  max-width: 40%;
  padding-left: 100px;
}

.hero h1 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 48px;
  margin: 0 0 20px;
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #ffffff, #d2d2d2 , #ffffff);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.hero p {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  margin: 0 0 30px;
  color: #8d8d8d;
}

.hero-buttons {
  display: flex;
  gap: 20px;
}

.btn-primary {
  appearance: button;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 14px;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all .3s,box-shadow .08s ease-in;
  width: 100%;
}

.btn-primary:hover {
  background-color: #5d75ff;
  scale: 102%;
}

.hero-image {
  max-width: 25%; /* Adjust as needed */
  padding-right: 100px;
}

.hero-image img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  transition-duration: 0.3s;
}

.hero-image :hover {
  scale: 101%;
}

@media (max-width: 768px) {
  .hero {
      flex-direction: column;
      text-align: center;
      height: auto;
  }
  .hero-content, .hero-image {
      max-width: 100%;
      margin-bottom: 20px;
  }
}

/*-----------------------------------------------features-content----------------------------------------------------*/
.features {
  height: 100vh;
}

.features-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
}

.features-content h2 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  line-height: 125%;
  font-style: normal;
  font-size: 24px;
  margin: 0 0 20px;
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #ffffff, #d2d2d2 , #ffffff);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}





/*-------------------------------------------------------------------------------------------------------------------*/

.Invoice {
  margin: auto;
  margin-bottom: 2%;
  text-align: center;
  height: 940px;
  width: 400px;

  border-radius: 4px;
  box-shadow: 1px 10px 30px 0 rgba(0, 0, 0, 0.01), 0 0px 30px 0 rgba(0, 0, 0, 0.1);

}

#invoice-div {
  margin-top: 100px;
  background-image: url('images/paper-texture.webp'); /* Path to your paper texture image */
  background-size: cover; /* Ensures the texture covers the entire div */
  background-position: center; /* Center the texture */
  background-repeat: no-repeat; /* Prevent the texture from repeating */
}

.Invoice h2 {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  padding-top: 80px;
}

.Invoice h3 {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin: 0;
  padding: 2px;
  transition-duration: 0.2s;
}

.Invoice h3:hover {
  scale: 105%;
  cursor: pointer;
}

.Invoice .newInvoiceGroup {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin: 0;
  padding-top: 20px;
}

#leftRightGroup {
  display: flex;
  justify-content: space-between; /* Distribute the two elements to opposite sides */
  width: 100%; /* Make sure it stretches to the full width */
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  padding-top: 0;
  margin-top: 0;
}

#left {
  text-align: left;
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  padding-left: 30px;
}

#right {
  text-align: left;
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  padding-right: 30px;
}

.Invoice .thankYou {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  padding-top: 80px;
  padding-left: 30px;
  padding-right: 30px;
}