/* Defines a fade-in animation where elements start from 70px below and fade in with opacity */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(70px); /* Move the element 70px down */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Move element back to its original position */
  }
}

/* Apply the fade-in animation to elements with this class */
.fade-in-item {
  animation: fadeIn;
  animation-duration: 1.2s;
}

/*--------------------------------------------------------------------------------------------------*/

.dm-sans {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.anonymous-pro-regular {
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: normal;
}

/*---------------------------------- Base Styles ----------------------------------------*/

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0b0c11;
}

/*---------------------------------- Navigation ----------------------------------------*/

/* Sticky navigation bar at the top */
nav {
  min-width: 100%;
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: white;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 20px;
  width: auto;
  margin-left: 20px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 13px;
  padding: 10px 30px;
}

nav ul li a:hover {
  color: gray;
  transition: color 0.3s ease;
}

@media (max-width: 1200px) {
  nav ul li a {
    font-size: 11px;
    padding: 10px 20px;
  }

  .logo img {
    height: auto;
    width: 100px;
    margin-left: 20px;
  }
}

@media (max-width: 480px) {
  nav ul li a {
    font-size: 11px;
    padding: 10px 20px;
  }
}

/*---------------------------------- Hero Section --------------------------------------*/
/* Hero section containing the main content and aligning items centrally */
.hero {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center elements horizontally */
  justify-content: space-between; /* Space between elements */
  text-align: center; /* Center text */
  padding: 50px;
  height: 90vh;
  box-sizing: border-box;
  margin-bottom: 40vh; /* Spacing below the hero section */
}

.hero-content {
  max-width: 45%;
}

.hero h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 52px;
  margin: 70px 0 20px 0px;
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #ffffff, #d2d2d2, #ffffff);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.hero p {
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  margin: 0 0 30px;
  color: #8d8d8d;
}

.hero-buttons {
  align-items: center;
  align-content: center;
  text-align: center;
  margin-bottom: 80px;
}

.btn-primary {
  appearance: button;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    Ubuntu, sans-serif;
  font-size: 14px;
  height: 44px;
  line-height: 1.15;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all 0.3s, box-shadow 0.08s ease-in;
  width: 100%;
}

.btn-primary:hover {
  background-color: #5d75ff;
  scale: 102%;
}

/*---------------------------------- Hero Image Styles ---------------------------------*/

.hero-image {
  max-width: 85%; /* Adjust as needed */
}

.hero-image img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  transition-duration: 0.3s;
  box-shadow: 0 -10px 65px rgba(42, 40, 181, 0.539); /* X offset, Y offset, blur radius, spread radius, color */
}

.hero-image :hover {
  scale: 101%;
}

/*-----------------------------------------------features-content----------------------------------------------------*/
.feature-list {
  height: 180vh;
  background-color: #ffffff;
  overflow: hidden;
}

.social-proof {
  height: 100vh;
  background-color: #4f54df;
  overflow: hidden;
}

.gradient1 {
  min-width: 100%;
  height: 300px;
  background-image: linear-gradient(
    0deg,
    #ffffff,
    #ffffff,
    #ffffff,
    #fefefe,
    #fdfdfe,
    #fafbfc,
    #f7f8fa,
    #f3f4f8,
    #edeff4,
    #e5e8f0,
    #dbdfea,
    #cfd5e3,
    #c1c8dc,
    #b1bacf,
    #9ea9c1,
    #8997b1,
    #7484a0,
    #60728e,
    #4f607a,
    #404e66,
    #334055,
    #283546,
    #212c3a,
    #1b2530,
    #161f29,
    #121a23,
    #0f161e,
    #0d131a,
    #0c1218,
    #0b0c11,
    #0b0c11,
    #0b0c11,
    #0b0c11,
    #0b0c11,
    #0b0c11,
    #0b0c11
  );
}

.gradient2 {
  min-width: 100%;
  height: 300px;
  background-image: linear-gradient(180deg, #ffffff, #cacbf4, #8588d9, #4f54df);
}

.features {
  margin-top: 10px;
}

.features-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
}

.features-content h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  line-height: 125%;
  font-style: normal;
  font-size: 24px;
  margin: 0 0 20px;
  margin-top: 120px;
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #ffffff, #d2d2d2, #ffffff);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.banner {
  margin-top: 90px;
  display: flex;
  height: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  min-width: 100%;
}

.banner h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  line-height: 125%;
  font-style: normal;
  font-size: 140px;
  color: #e6e6e6;
}

.banner h2 span {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  line-height: 125%;
  font-style: normal;
  font-size: 140px;
  background-image: -webkit-linear-gradient(45deg, #405cf5, #6d40f5);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
}

/*-----------------------------------------------features-list--------------------------------------------------------*/

.feature-header {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  line-height: 125%;
  font-style: normal;
  font-size: 28px;
  color: #0d0e18;
  padding-left: 20px;
}

.feature-text {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
  line-height: 125%;
  font-style: normal;
  font-size: 18px;
  color: #63656e;
  padding-left: 20px;
}

.feature-text-box {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  max-width: 40%;
}

#feature-one {
  display: flex;
  align-items: center;
  flex-direction: row;
  max-height: 60vh;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#feature-one .feature-one-image {
  max-width: 40%;
  border-radius: 10px 10px 0 10px;
  height: fit-content;
}

#feature-one img {
  border-style: solid;
  border-width: 1px;
  border-color: #6872836d;
}

#feature-two {
  display: flex;
  align-items: center;
  flex-direction: row;
  max-height: 30vh;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 110px;
}

#feature-two .feature-text-box {
  margin-left: 0;
  margin-right: 20px;
}

#feature-two .feature-two-image {
  max-width: 59.6%;
  border-radius: 0px 10px 10px 0px;
  height: fit-content;
}

#feature-two img {
  border-style: solid;
  border-width: 1px;
  border-color: #6872836d;
}

#feature-three {
  display: flex;
  align-items: center;
  flex-direction: row;
  max-height: 60vh;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 110px;
}

#feature-three .feature-three-image {
  max-width: 40%;
  border-radius: 10px 0px 10px 10px;
  height: fit-content;
}

#feature-three img {
  border-style: solid;
  border-width: 1px;
  border-color: #6872836d;
}

/*----------------------------------------------------Slider-----------------------------------------------*/
/* Slider Container */
.slider h2 {
  text-align: center;
  justify-self: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  color: #cfd5e3;
  padding-bottom: 20px;
}

.slider {
  padding-top: 50px;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #4f54df;
}

/* Slide Track */
.slide-track {
  display: flex;
  width: calc(250px * 10); /* 10 logos in total */
  animation: scroll 20s linear infinite; /* Infinite scrolling */
}

/* Each Slide */
.slide {
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide img {
  width: auto; /* Adjust the logo size */
  height: 22px;
  filter: opacity(0.5);
  filter: grayscale(100%); /* Optional: Make logos grayscale */
  transition: transform 0.3s ease;
}

/* Hover effect */
.slide img:hover {
  transform: scale(1.2);
  filter: none; /* Return to original color on hover */
}

/* Infinite Scroll Animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/*--------------------------------------------Review Cards------------------------------------------------------*/

.social-proof h2 {
  text-align: center;
  justify-self: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  color: #cfd5e3;
  padding: 40px 0px;
}

.review-card {
  background-color: #fdfdfe;
  border: 2px solid #b1bacf;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  height: 420px;
  width: 46%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.review-image {
  margin-top: 20px;
  margin-left: 20px;
  float: left;
  border-radius: 50%;
  height: 80px;
  width: auto;
}

.review-image img {
  resize: 150%;
  object-fit: cover;
}

.review-name {
  margin-left: 20px;
  margin-top: 50px;
  float: left;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  color: #1d1d1d;
}

.stars {
  height: 80px;
  width: auto;
  margin-bottom: 0;
  margin-left: 24px;
}

.review-paragraph {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 0;
  float: left;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  color: #000000;
}

@media (max-width: 1300px) {
  .review-card {
    height: 50vh;
    width: 76%;
  }

  .social-proof {
    height: 110vh;
    margin-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .review-image {
    height: 50px;
  }

  .review-name {
    font-size: 16px;
    margin-top: 35px;
  }

  .stars {
    height: 60px;
  }

  .review-paragraph {
    font-size: 13px;
  }
}

@media (max-width: 404px) {
  .review-card {
    height: 68vh;
  }

  .social-proof {
    height: 125vh;
    margin-bottom: 80px;
  }
}

/*-------------------------------------------------------------------------------------------*/

.footer {
  background-color: #111;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.6;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-about,
.footer-links,
.footer-contact {
  flex: 1;
  min-width: 250px;
  margin: 20px 10px;
}

.footer-about h4,
.footer-links h4,
.footer-contact h4 {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.footer-links ul,
.footer-contact ul {
  list-style: none;
  padding: 0;
}

.footer-links li,
.footer-contact li {
  margin-bottom: 10px;
}

.footer-links a,
.footer-contact a {
  color: #abd8ff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover,
.footer-contact a:hover {
  color: #7edad6;
}

.footer-bottom {
  margin-top: 30px;
  border-top: 1px solid #555;
  padding-top: 20px;
  font-size: 0.8rem;
}

.footer-bottom a {
  color: #abd8ff;
  text-decoration: none;
}

.footer-bottom a:hover {
  color: #7edad6;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-about,
  .footer-links,
  .footer-contact {
    text-align: center;
  }
}

/*-----------------------------------------------media queries--------------------------------------------------------*/
@media (max-width: 1278px) {
  .features-content h2 {
    font-size: 20px;
    padding: 0;
  }

  .banner {
    max-width: 70%;
    margin-top: 70px;
  }

  .banner h2 {
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    line-height: 125%;
    font-style: normal;
    font-size: 100px;
    color: #e6e6e6;
  }

  .banner h2 span {
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    line-height: 125%;
    font-style: normal;
    font-size: 100px;
    background-image: -webkit-linear-gradient(45deg, #405cf5, #6d40f5);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
  }
}

@media (max-width: 968px) {
  .hero-content {
    max-width: 80%;
  }

  .hero {
    margin-bottom: 20vh;
  }
}

@media (max-width: 900px) {
  .banner {
    margin-top: 20px;
  }

  .banner h2 {
    max-width: 100%;
    font-size: 80px;
  }

  .banner h2 span {
    max-width: 100%;
    font-size: 80px;
  }
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
    align-content: center;
    height: auto;
    margin-bottom: 5vh;
  }

  .features {
    margin-top: 0;
    padding-top: 0;
  }

  .features-content {
    margin-top: 10px;
  }

  .features-content h2 {
    margin-top: 0;
  }

  .hero-content,
  .hero-image {
    max-height: 50vh;
    margin-bottom: 20px;
    margin-left: 0;
    padding-left: 0;
  }

  .hero h1 {
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.75rem;
    margin: 0 0 20px;
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #ffffff, #d2d2d2, #ffffff);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }

  .hero p {
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    margin: 0 0 30px;
    color: #8d8d8d;
  }

  .hero-content .hero-image img {
    margin-left: 0;
    padding-left: 0;
  }

  .banner h2 {
    font-size: 60px;
    font-weight: 500;
  }

  .banner h2 span {
    font-size: 60px;
    font-weight: 500;
  }
}

@media (max-width: 600px) {
  .hero {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: left;
    max-width: 90%;
    padding: 10px;
  }

  .hero-content {
    max-width: 90%;
    margin: 0;
    padding: 0;
  }

  .hero h1 {
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2.5rem;
    margin: 0 0 20px;
    margin-top: 20px;
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #ffffff, #d2d2d2, #ffffff);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }

  .hero p {
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    margin: 0 0 30px;
    color: #8d8d8d;
  }

  .hero-buttons {
    max-width: 60%;
  }

  .features {
    margin: 0;
    margin-left: 20px;
    padding: 0;
  }

  .features-content {
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    margin-left: 0;
    padding: 10px;
    max-width: 90%;
  }

  .hero-buttons {
    display: flex;
    justify-content: flex-start; /* Aligns button to the left */
    align-items: center;
    text-align: left; /* Ensures button content is left-aligned */
    width: 100%; /* Make sure the container takes up the full width */
  }

  .btn-primary {
    min-width: auto; /* Adjust this value as needed */
    text-align: left; /* Ensure text inside the button is left-aligned */
  }

  .btn-primary {
    text-align: left;
    width: auto; /* Keep the button from stretching full-width */
    margin-left: 0;
  }

  .features-content h2 {
    font-size: 18px;
    text-align: left;
  }

  .features-content button {
    text-align: left;
    max-width: 100%;
  }

  .gradient1,
  .gradient2 {
    height: 75px;
  }

  #feature-one,
  #feature-three {
    flex-direction: column;
  }

  #feature-two {
    flex-direction: column-reverse;
  }

  #feature-one .feature-one-image,
  #feature-two .feature-two-image,
  #feature-three .feature-three-image {
    max-width: 70%;
    border-radius: 10px 10px 10px 10px;
    height: fit-content;
  }

  #feature-two {
    margin-top: 25vh;
  }

  #feature-three {
    margin-top: 6vh;
  }

  .feature-text-box {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 70%;
  }

  .feature-header {
    margin-bottom: 10px;
    margin-left: 0;
    padding-left: 0;
  }

  .feature-text {
    margin-left: 0;
    padding-left: 0;
  }
}

@media (max-width: 432px) {
  .banner h2 {
    font-size: 40px;
    font-weight: 400;
  }

  .banner h2 span {
    font-size: 40px;
    font-weight: 400;
  }
}

@media (max-width: 389px) {
  .hero-content {
    margin-bottom: 80px;
  }

  .hero-image {
    margin-top: 20px;
  }
}

@media (max-width: 386px) {
  .btn-primary {
    margin-bottom: 1rem;
  }
}

/*-------------------------------------------------------------------------------------------------------------------*/

.Invoice {
  margin: auto;
  margin-bottom: 2%;
  text-align: center;
  height: 80vh;
  width: 320px;

  border-radius: 4px;
  box-shadow: 1px 10px 30px 0 rgb(0, 0, 0), 0 0px 30px 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 1100px) {
  .Invoice {
    height: 100vh;
  }
}

#invoice-div {
  margin-top: 40px;
  background-image: url("/assets/images/paper-texture.webp"); /* Path to your paper texture image */
  background-size: cover; /* Ensures the texture covers the entire div */
  background-position: center; /* Center the texture */
  background-repeat: no-repeat; /* Prevent the texture from repeating */
}

.Invoice h2 {
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 16px;
  padding-top: 60px;
}

.Invoice h3 {
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0;
  padding: 2px;
  transition-duration: 0.2s;
}

.Invoice h3:hover {
  scale: 105%;
  cursor: pointer;
}

.Invoice .newInvoiceGroup {
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0;
  padding-top: 20px;
}

#leftRightGroup {
  display: flex;
  justify-content: space-between; /* Distribute the two elements to opposite sides */
  width: 100%; /* Make sure it stretches to the full width */
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 14px;
  padding-top: 0;
  margin-top: 0;
}

#left {
  text-align: left;
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 14px;
  padding-left: 30px;
}

#right {
  text-align: left;
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 14px;
  padding-right: 30px;
}

.right {
  text-align: left;
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 14px;
  padding-right: 30px;
}

.Invoice .thankYou {
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 14px;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
}

.btn-invoice {
  margin-inline: 20px;
  margin-bottom: 50px;
}

@media (max-width: 1000px) {
  .buttons-container {
    display: flex;
    flex-direction: column;
    max-width: 30%;
  }
}

@media (max-width: 500px) {
  .buttons-container {
    max-width: 50%;
  }
}

/* Styles for the pop-up container */
#popup {
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  display: none; /* Hidden by default */
  z-index: 1000;
}

/* Styles for the pop-up overlay */
#popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none; /* Hidden by default */
  z-index: 999;
}

/* Button to close the pop-up */
#popup button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #0b0c11;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#popup button:hover {
  background-color: #444;
}

@media (max-width: 768px) {
  #popup {
    font-size: 14px;
    padding: 14px;
  }

  #popup-overlay {
    min-width: 200%;
  }
}
